
#gjs {
    border: none !important;
    height: 600px;
    width: 80vw;
  }

  .gjs-one-bg {
    background-color: white;
  }

  .gjs-two-color {
    color: #417EEB;
  }

  .gjs-three-bg {
    background-color: white;
    color: #417EEB;
  }


  .gjs-four-color,
  .gjs-four-color-h:hover {
    color: #417EEB;
  }

  .gjs-cv-canvas {
    top: 0;
    width: 85% !important;
    height: 95% !important;
    margin-top: 3% !important;
}
// 

.editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;
  }
  
  .editor-canvas {
    flex-grow: 1;
  }
  
  .panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
  }

  .panel__switcher {
    position: initial;
  }

  .panel__devices {
    position: initial;
  }